<div class="dashboard">
  <div class="burger-menu" (click)="toggleSidebar()">
      <span></span>
      <span></span>
      <span></span>
  </div>

 <div class="sidebar" [ngClass]="{'open': isSidebarOpen}">
      <h2>Texus</h2>
      <ul>
          <li><a routerLink="/dashboard" routerLinkActive="active"><fa-icon [icon]="faHome"></fa-icon> Home</a></li>
          <li><a routerLink="/dashboard/explore" routerLinkActive="active"><fa-icon [icon]="faExplore"></fa-icon> Explore</a></li>
          <li><a routerLink="/dashboard/reels" routerLinkActive="active"><fa-icon [icon]="faReels"></fa-icon> Reels</a></li>
          <li><a routerLink="/dashboard/create" routerLinkActive="active"><fa-icon [icon]="faCreate"></fa-icon> Create</a></li>
          <li><a routerLink="/dashboard/profile" routerLinkActive="active"><fa-icon [icon]="faProfile"></fa-icon> Profile</a></li>
          <li><a [routerLink]="['/dashboard/crush-predictor', targetUserId]" routerLinkActive="active">
            AI Crush Predictor
          </a></li>
          
          <li><a href="#" (click)="logout()"><fa-icon [icon]="faEllipsisH"></fa-icon> Logout</a></li>
      </ul>
  </div>

  <div class="main-content">
      <router-outlet></router-outlet>
  </div>
</div>
